body {
    margin: 0;
    background-color: #333333;
}
main {
    margin-left: 15%;
    margin-right: 15%;
    color: #FFFFFF;
}
section {

}

ul {
    list-style-type: none;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

img#logomarca {
    height: 75px;
}

.menu-principal {
    border: 2px solid black;
    border-radius: 5px;

    margin-right: auto;
    margin-left: auto;
    margin: 1em auto auto auto;

    width: 66%;

    background-color: #B8FFD3;
    color: #96423E;
}
.menu-principal ul {
    display: flex;
    justify-content: space-between;
}

.menu {
    background-color: #D52C23;
    width: 250px;

    border-right: 2px solid black;

    position: fixed;
    top: 0;
    left: -255px;
    bottom: 0;

    z-index: 2;
    
    transition: all 100ms ease-out;
}

#alterna-menu {
    width: 2em;
    height: 2em;

    position: fixed;

    margin: 10px 0 0 10px;

    border: 2px solid black;
    border-radius: 10%;

    background-image: linear-gradient(45deg, #B3B3B3, #FFFFFF);

    font-size: 1.5em;
    font-weight: 400;

    z-index: 2;

    transition: all 100ms linear;
}
#alterna-menu:active {
    border-width: 1px;
    background-image: linear-gradient(45deg, #DBDBDB, #FFFFFF);
}

body.menu-visivel > .menu {
    left: 0;
}
body.menu-visivel > #alterna-menu {
    left: 250px;
}